.book-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: 300px;

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  max-width: 300px;
  max-height: 300px;
}

.book-card:hover {
  cursor: pointer;
  border-color: #4caf50;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.books-catalogue {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.books-section {
  flex: 1 1 calc(33.333% - 32px);
  box-sizing: border-box;
}

.Download-Button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
