<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your profile</title>
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    <section class="Welcome-Bar">
      <h1>Welcome</h1>
      <button class="post-button" onclick="window.location.href = '/Publish'">
        Post
      </button>
    </section>
    <section class="books-catalogue">
      {% for book in books %}
      <section class="book-section">
        <div class="book-card">
          <h2>{{ book.title }}</h2>
          <img
            src="{{ book.image }}"
            alt="Cover image of {{ book.title }}"
            class="book-cover"
          />
          <button
            class="Download-Button"
            onclick="window.location.href='{{ book.download_link }}'"
          >
            Download
          </button>
          <p>Author: {{ book.author }}</p>
          <p>Year: {{ book.year }}</p>
          <p class="isbn-credential">ISBN: {{ book.isbn }}</p>
        </div>
      </section>
      {% endfor %}
    </section>
  </body>
</html>
