<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
  </head>
  <body>
    <h1>Publish your book</h1>
    <form action="/Publish" method="post" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required /><br /><br />

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required /><br /><br />

      <label for="year">Year:</label>
      <input type="number" id="year" name="year" required /><br /><br />

      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" name="isbn" required /><br /><br />

      <label for="image">Cover Image:</label>
      <input
        type="text"
        id="image"
        name="image"
        accept="image/*"
        required
      /><br /><br />

      <label for="download_link">Download Link:</label>
      <input
        type="url"
        id="download_link"
        name="download_link"
        required
      /><br /><br />

      <input type="submit" value="Publish" />
    </form>
  </body>
</html>
